/* ---------------------------- Global style */

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Open+Sans&display=swap');

/* remove default margin, padding and border */
* {
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

section {
    padding-top: 100px;
}

h1, h2 {
    color: #06514E;
}

h2 {
    padding: 16px 0px;
    text-align: center;
}

a {
    text-decoration: none;
}

/* ---------------------------------- Header */

/* logo styling */

.logo-txt-lg {
    font-family: 'Merienda One', cursive, sans-serif;
    color: #FDE9A5;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.logo-txt-sm {
    color:#FDE9A5;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: uppercase;
}


/* -------------------------------- Navbar */

/*Responsive Navigation based on Malia Havlicek's codepen: https://codepen.io/maliahavlicek/pen/LYeBwNY*/

html {
    scroll-behavior: smooth;
}

nav {
    max-width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu {
    height: 100px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
  
.menu li a {
    align-self: center;
}
  
.nav-item {
    background-color: #06514E;
    text-transform: uppercase;
    letter-spacing: 2px;
}
  
.nav-item li a {
color: #FFFFFF;
}

.nav-item li a:hover {
    color:#FDE9A5;
    font-weight: bolder;
}

#menuToggle,
.show-mobile,
.toggle {
    display: none;
}


/*Responsive Navigation based on Malia Havlicek's codepen: https://codepen.io/maliahavlicek/pen/LYeBwNY*/

/* phones and portrait tablets */
@media screen and (max-width: 768px) {

    a.show-mobile {
        text-decoration: none;
        color:#06514E;
        display: inline-block;
    }
    
    #logo.hide-mobile {
        display: none;
    }
    
    .toggle {
        color: #FDE9A5;
        padding: 0 1.2rem;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 2.4rem);
        text-align: left;
        line-height: 40px;
        cursor: pointer;
        height: 40px;
        font-size: 18px;
        background: #06514E;
    }

    #menuToggle:checked ~ul.nav-item li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #menuToggle:checked ~ul.nav-item {
        height: 200px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0px;
        transition: height .3s linear;
    }

    .menu li {
        display: flex;
        /* magic */
        align-self: center;
        width: 100%;
        opacity: 0;
        visibility: hidden;
    }

    .menu li a {
        width: 100%;
        text-align: left;
        align-self: center;
        align-content: center;
        margin-left: 1.2rem;
    }
}


/* ---------------------------------- Main */

/* set max width for larger screens so that the sections content does not
    take up full width. Code written with help of my Mentor*/

main section {
    max-width: 1200px;
    margin: 0 auto;
}

/* home */

.flex-item-home {
    flex-basis: 100%;
    text-align: center;
}

.flex-item-home img {
    width: 100%;
    height: 100%;
 }

.flex-item-home > h1, p {
    padding: 8px;
    align-self: center;
}

.flex-item-home {
    align-self: center;
}

#home {
    margin-top: 16px;
}

/* override logo style to improve color contrast for accessibility */

.logo-txt-lg-green {
    font-family: 'Merienda One', cursive, sans-serif;
    color: #06514E;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.logo-txt-sm-green {
    color:#06514E;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: uppercase;
}


/* Services section */

.service-card {
    border: 1px solid #FDE9A5;
    border-radius: 4px;
    flex-basis: 100%;
    margin: 32px 32px 48px;
    padding: 16px;
    text-align: center;
}

.service-card p {
    margin-top: 16px;
}

.card-name {
    background-color:#06514E;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 4px;
}

.card-name i {
    color: #FDE9A5;
}

.service-card > .card-name,
.service-card > .card-name i {
    padding: 8px 0px;
}

/*
Learned how to target a css class inside another css class from this Stack Overflow post
https://stackoverflow.com/questions/8965063/target-a-css-class-inside-another-css-class
*/

.service-card:hover{
    background-color: #365D6A;
    color: #FFFFFF;
}

.service-card:hover > .card-name {
    background-color: #FDE9A5;
}

.service-card:hover > .card-name i {
    color: #06514E;
}

.service-card:hover h3 {
    color: #365D6A;
}


/*gallery*/

.flex-container-bg {
    background-color:#C4E9C4;
}

.gallery-item {
    height: 200px;
    width: 300px;
    margin: 32px 0px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}


/* ------------------------- Contact section */

/*contact information*/

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact {
    border: 1px solid red;
    margin-right: 5%;
    margin-left: 5%;
    padding: 2.5%;
    width: 50%;
}

.contact > h3 {
    margin-bottom: 2.5em;
    color: #06514E;
}

.contact > h4 {
    margin-bottom: 0.5em;
    color:#06514E;
    margin-top: 2em;
}

.contact > p {
    margin-bottom: 2em;
}

.contact-details > p {
    margin-bottom: 1em;
    margin-left: 0.5em;
}

.text-teal {
    color: teal;
}

/*--------- form styling*/

#contact-form {
    background-color:#FDE9A5;
    border-radius: 4px;
}

input[type=text], input[type=email], textarea {
    border-radius: 4px;
    display: block;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    padding: 0.5em;
    width: 90%;
    margin: 5% auto;
}

/* 
below code for fieldset and .input-wrapper was written by my Mentor
to resolve the issue with the positioning of the submit button on the 
contact form
 */
 
fieldset {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    margin: 2rem 1.5rem;
}

input[type=submit] {
    color: #FFFFFF;
    background-color:#06514E;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    padding: 0.5em;
    width: auto;
    margin: 0.2rem auto;
}


/* -------------------------------- Footer */

.bg-green-darker {
    background-color: #06514E;
}

.social-links {
    margin-top: 48px;
    padding: 32px 16px 16px;
    text-align: center;
}

.social-links li {
    display: inline;
    margin: 0px 16px;
}

.social-links i {
    color: #FDE9A5;
    font-size:2.5rem;
}

ul li {
    list-style-type: none;
}

.copyright-text {
    color: #FFFFFF;
    font-size: 0.8rem;
    letter-spacing: 2px;
    padding-bottom: 32px;
    text-align: center;
}

/* --------------------------Media Queries */


@media screen and (min-width: 768px) {
    .contact, .service-card, .flex-item-home {
      flex: 1;
    }
}


/* Reduce the number of images displayed */

  @media screen and (max-width: 1250px) {
    .gallery >:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width: 920px) {
    .gallery >:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 615px) {
    .gallery >:nth-child(4) {
        display: none;
    }
}