/* ---------------------------- Global style */

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Open+Sans&display=swap');

/* remove default margin, padding and border */
* {
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* ---------------------------------- Header */

/* logo styling */

#logo-txt-lg {
    font-family: 'Merienda One', cursive, sans-serif;
    color: #f53240;
    font-size: 150%;
}

#logo-txt-sm {
    color:#2e4443;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 50%;
    text-transform: uppercase;
}

/* ------------------------- Contact section */

/*contact information*/

#flex-container-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact {
    border: 1px solid red;
    margin-right: 5%;
    margin-left: 5%;
    padding: 2.5%;
}

.contact > h3 {
    margin-bottom: 2.5em;
    color: #f53240;
}

.contact > h4 {
    margin-bottom: 0.5em;
    color: #f53240;
    margin-top: 2em;
}

.contact > p {
    margin-bottom: 2em;
}

.contact-details > p {
    margin-bottom: 1em;
    margin-left: 0.5em;
}

.text-teal {
    color: teal;
}

/* --------------------------Media Queries */


@media screen and (min-width: 768px) {
    .contact {
      flex: 1;
    }
  }

